body {
  font-family: 'Roboto', sans-serif; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  height: 260px;
  background-image: url("img/adorable-animal-animal-photography-1629781.jpg");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 140%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 'logo'; }
  header .logo {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 0 27px 0 0;
    grid-template: 'img txt'; }
    header .logo .img {
      grid-area: img; }
    header .logo .txt {
      grid-area: txt; }
    header .logo span {
      font-size: 42px;
      font-weight: 700; }
    header .logo img {
      width: 68px;
      margin: 12px 0 0px 0px;
      transform: rotate(-82deg) translate(2px, 13px); }
    header .logo h1 {
      font-size: 16px;
      font-weight: 100;
      transform: translateY(-10px); }

.white-background {
  background-color: #fff; }

.main-nav {
  position: fixed;
  top: 0;
  width: 100%; }
  .main-nav .hamburger {
    padding: 30px;
    width: 85px; }
    .main-nav .hamburger .bar1,
    .main-nav .hamburger .bar2,
    .main-nav .hamburger .bar3 {
      width: 25px;
      height: 3px;
      background-color: #000;
      margin: 6px 0;
      transition: 0.4s; }
    .main-nav .hamburger .bar1 {
      margin-top: 0; }
    .main-nav .hamburger .bar3 {
      margin-bottom: 0; }
    .main-nav .hamburger:hover {
      cursor: pointer; }
  .main-nav .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px); }
  .main-nav .change .bar2 {
    opacity: 0; }
  .main-nav .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px); }
  .main-nav .menu {
    text-align: center;
    list-style-type: none;
    display: none;
    -webkit-box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75); }
    .main-nav .menu li.menu-li {
      padding: 10px; }
      .main-nav .menu li.menu-li:first-child {
        padding-top: 20px; }
      .main-nav .menu li.menu-li:last-child {
        padding-bottom: 80px; }
  .main-nav .open {
    display: block; }

.welcome {
  padding: 0 30px 0 30px;
  margin: 100px 0 0 0; }
  .welcome h1 {
    text-align: center;
    margin: 0 0 30px 0; }
  .welcome nav {
    text-align: center;
    margin: 0 0 30px 0; }
    .welcome nav .contact {
      outline: none;
      background: #fff;
      border: 2px solid #000;
      padding: 10px 25px;
      text-transform: uppercase; }
      .welcome nav .contact:hover {
        cursor: pointer;
        background: #000;
        color: #fff; }

.tips {
  padding: 0 30px 0 30px;
  margin: 100px 0 0 0; }
  .tips h1 {
    font-size: 20px;
    margin: 0 0 20px 0;
    text-align: center; }
  .tips p {
    margin: 0 0 50px 0; }
  .tips ul.tips-ul {
    padding: 0 0 0 30px;
    margin: 0 0 50px 0;
    list-style-type: none; }
    .tips ul.tips-ul li {
      margin: 0 0 5px 0; }

/*# sourceMappingURL=style.css.map */
