body {
  font-family: 'Roboto', sans-serif; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a:link, a:visited, a:hover, a:active {
  color: #000;
  text-decoration: none; }

.logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template: 'img txt'; }
  .logo .img {
    grid-area: img;
    display: grid;
    align-content: center;
    position: relative;
    bottom: 7px; }
  .logo .txt {
    grid-area: txt; }
  .logo span {
    font-size: 42px; }
  .logo img {
    width: 60px;
    margin: 0 10px 0 0; }
  .logo h1 {
    font-size: 16px;
    font-weight: 100;
    transform: translateY(-10px); }

header {
  height: 260px;
  background-image: url("img/pictures/adorable-animal-animal-photography-1629781.jpg");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 140%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 'logo'; }

.white-background {
  background-color: #fff; }

.main-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw; }
  .main-nav .hamburger {
    padding: 30px;
    width: 85px; }
    .main-nav .hamburger .bar1,
    .main-nav .hamburger .bar2,
    .main-nav .hamburger .bar3 {
      width: 25px;
      height: 3px;
      background-color: #000;
      margin: 6px 0;
      transition: 0.4s; }
    .main-nav .hamburger .bar1 {
      margin-top: 0; }
    .main-nav .hamburger .bar3 {
      margin-bottom: 0; }
    .main-nav .hamburger:hover {
      cursor: pointer; }
  .main-nav .hamburger.change {
    width: 50%; }
  .main-nav .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px); }
  .main-nav .change .bar2 {
    opacity: 0; }
  .main-nav .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px); }
  .main-nav .menu {
    text-align: center;
    list-style-type: none;
    width: 50%;
    display: none;
    transition: all ease-in-out 200ms;
    -webkit-box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.75); }
    .main-nav .menu li.menu-li {
      padding: 20px; }
      .main-nav .menu li.menu-li a {
        padding: 20px;
        font-weight: 100;
        transition: all .2s ease-in-out; }
        .main-nav .menu li.menu-li a:hover {
          cursor: pointer;
          font-weight: 500; }
      .main-nav .menu li.menu-li:nth-of-type(2n-1) {
        background: #d8d6d6;
        background: -moz-linear-gradient(left, #d8d6d6 0%, #f6f6f6 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #d8d6d6), color-stop(100%, #f6f6f6));
        background: -webkit-linear-gradient(left, #d8d6d6 0%, #f6f6f6 100%);
        background: -o-linear-gradient(left, #d8d6d6 0%, #f6f6f6 100%);
        background: -ms-linear-gradient(left, #d8d6d6 0%, #f6f6f6 100%);
        background: linear-gradient(to right, #d8d6d6 0%, #f6f6f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d6d6', endColorstr='#f6f6f6', GradientType=1 ); }
      .main-nav .menu li.menu-li:last-of-type {
        border-bottom: 1px solid #ebebeb; }
  .main-nav .open {
    display: block; }

.welcome {
  padding: 0 30px 0 30px;
  margin: 100px 0 0 0; }
  .welcome h1 {
    text-align: center;
    font-size: 24px;
    margin: 0 0 30px 0; }
  .welcome nav {
    text-align: center;
    margin: 0 0 30px 0; }
    .welcome nav .contactBtn {
      outline: none;
      background: #fff;
      border: 2px solid #000;
      padding: 10px 25px;
      text-transform: uppercase;
      transition: all .2s ease-in-out; }
      .welcome nav .contactBtn:hover {
        cursor: pointer;
        background: #000;
        color: #fff; }

.tips {
  padding: 0 30px 0 30px;
  margin: 100px 0 0 0; }
  .tips h1 {
    font-size: 20px;
    margin: 0 0 20px 0;
    text-align: center; }
  .tips p {
    margin: 0 0 50px 0; }
  .tips ul.tips-ul {
    list-style-type: none; }
    .tips ul.tips-ul li {
      padding: 10px; }
      .tips ul.tips-ul li:nth-of-type(2n-1) {
        background: #d8d6d6; }

.companies {
  padding: 0 30px 0 30px;
  margin: 100px 0 0 0; }
  .companies h1 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 20px 0; }
  .companies .carousel .active, .companies .carousel .carousel-item-left {
    display: flex;
    align-items: center; }
  .companies .carousel div.carousel-item {
    height: 200px; }
    .companies .carousel div.carousel-item img {
      width: 200px;
      margin: auto; }

.contact {
  padding: 0 30px 0 30px;
  margin: 100px 0 0 0; }
  .contact h1 {
    font-size: 20px;
    margin: 0 0 50px 0;
    text-align: center; }
  .contact .contact-social-media {
    text-align: center; }
    .contact .contact-social-media a img {
      width: 100px;
      transition: all ease-in-out 200ms; }
      .contact .contact-social-media a img:hover {
        width: 95px;
        cursor: pointer; }
        .contact .contact-social-media a img:hover .contact-social-media {
          height: calc(100% + 5px); }
  .contact .contact-info {
    margin: 50px 0 0 0; }
    .contact .contact-info div.phone {
      display: flex;
      align-items: center; }
      .contact .contact-info div.phone i.fa-phone {
        font-size: 34px;
        transform: rotate(-15deg); }
      .contact .contact-info div.phone span.phone-number {
        font-weight: 500;
        font-size: 20px;
        margin: 0 0 0 20px; }
    .contact .contact-info .address {
      margin: 30px 0 0 0;
      display: flex;
      align-items: center; }
      .contact .contact-info .address .address-pin-icon i.fa-map-marker-alt {
        font-size: 34px; }
      .contact .contact-info .address .address-txt {
        margin: 0 0 0 30px; }
        .contact .contact-info .address .address-txt span {
          font-size: 18px;
          font-weight: 500; }
        .contact .contact-info .address .address-txt p {
          font-size: 12px; }
  .contact section.contact-map {
    margin: 50px 0 0 0; }

.site-footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 'logo';
  padding: 100px 0 100px 0; }
  .site-footer .logo {
    grid-area: logo; }
    .site-footer .logo img {
      width: 34px; }
    .site-footer .logo .txt span {
      font-size: 28px; }
    .site-footer .logo .txt h1 {
      font-size: 12px; }
  .site-footer aside div {
    display: none; }

@media (min-width: 600px) {
  header {
    height: 340px; }

  .main-nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+0,ffffff+0,ffffff+0,ffffff+0,ffffff+60&1+1,1+37,1+37,0+60 */
    background: -moz-linear-gradient(left, white 0%, white 1%, white 37%, rgba(255, 255, 255, 0) 60%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, white 0%, white 1%, white 37%, rgba(255, 255, 255, 0) 60%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, white 0%, white 1%, white 37%, rgba(255, 255, 255, 0) 60%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    /* IE6-9 */ }
    .main-nav .hamburger {
      display: none; }
    .main-nav .menu {
      padding: 0;
      display: flex;
      border: none;
      box-shadow: none;
      margin: 15px 20px;
      width: 90%; }
      .main-nav .menu li.menu-li {
        padding: 0; }
        .main-nav .menu li.menu-li:nth-of-type(2n-1) {
          background: none; }
        .main-nav .menu li.menu-li:last-of-type {
          border: none; }

  section.welcome, section.tips, section.companies, section.contact {
    padding: 0 60px 0 60px; } }
@media (min-width: 900px) {
  header {
    height: 420px; }
    header .logo img {
      width: 80px; }
    header .logo span {
      font-size: 60px; }
    header .logo h1 {
      font-size: 18px;
      font-weight: 100;
      transform: translateY(0);
      position: relative;
      bottom: 18px;
      left: 3px; }

  .main-nav .menu {
    margin: 25px 30px; }

  section.welcome {
    margin: 200px 0 0 0; }
    section.welcome h1 {
      margin: 0 0  60px 0; }
    section.welcome nav {
      margin: 0 0 60px 0; }

  section.tips {
    margin: 200px 0 0 0; }
    section.tips h1 {
      margin: 0 0  60px 0; }
    section.tips p {
      margin: 0 0 60px 0; }

  section.companies {
    margin: 200px 0 0 0; }
    section.companies h1 {
      margin: 0 0  60px 0; }

  section.contact {
    margin: 200px 0 0 0; }
    section.contact h1 {
      margin: 0 0  60px 0; }
    section.contact section.contact-info {
      margin: 100px 0 0 0; }
    section.contact section.contact-info .address {
      margin: 60px 0 0 0; }
    section.contact section.contact-map {
      margin: 100px 0 0 0; }

  section.welcome, section.tips, section.companies, section.contact {
    padding: 0 90px 0 90px; } }
@media (min-width: 1200px) {
  header {
    height: 500px; }

  section.welcome {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'h1 p' 'h1 contactBtn'; }
    section.welcome h1 {
      grid-area: h1;
      text-transform: uppercase;
      text-align: left;
      font-size: 40px; }
    section.welcome nav {
      grid-area: contactBtn;
      text-align: left; }
    section.welcome p {
      grid-area: p;
      margin: 0 0 50px 0; } }
@media (min-width: 1800px) {
  header {
    height: 500px; } }

/*# sourceMappingURL=style.css.map */
